<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>博客首页</title>
        <link rel="stylesheet" href="css/blog_index.css">
        <link rel="stylesheet" href="images/font/iconfont.css">
        <link rel="stylesheet" href="https://unpkg.com/mditor@1.0.5/dist/css/mditor.min.css" />
        <script src="https://unpkg.com/mditor@1.0.5/dist/js/mditor.min.js"></script>
        <script src="https://cdn.bootcss.com/showdown/1.3.0/showdown.min.js"></script>
    </head>
    <body>
    <div class="index">
      <header class="header"></header>
      <hr class="index-hr">
      <div class="index-content">
        <div class="index-left">
          <div class="blogs">
            <!--
            <div class="blog-cell">
              <div>
                <a class="blog-title" href="/blog?id=${id}" data-id="${id}">
                  ${title}
                </a>
              </div>
              <div class="">
                <i class="iconfont icon">&#xe688;</i>
                <span class="blog-author">${author}</span>
                <i class="iconfont">&#xe661;</i>
                <time class="blog-time">${time}</time>
              </div>
            </div>
            -->
          </div>
        </div>
        <div class="index-right">
          <!-- <div class="right-head">标签分类</div> -->
          <ul class="tag-list">
            <li class="li-all active">全部</li>
            <li class="li-git">git</li>
            <li class="li-js">js</li>
            <li class="li-vue">vue</li>
            <li class="li-node">node</li>
          </ul>
        </div>
      </div>
      <div class="blog-new">
        <div class="">
          <div class="new-head">发表新文章</div>
          <label>
            <input id="id-input-title" type="text" placeholder="请填写标题" value="">
          </label>
          <br>
          <label for="">
            <input id="id-input-author" type="text" placeholder="请填写作者" value="">
          </label>
            <span class="tags">tag:</span>
            <select id="id-input-tag">
              <option value="js">js</option>
              <option value="vue">vue</option>
              <option value="node">node</option>
              <option value="git">git</option>
            </select>
          </label>
          <br>
          <label for="">
            <textarea id="id-input-content" type="text" value="" placeholder=""></textarea>
          </label>
          <br>
          <div id="id-button-submit">发表</div>
        </div>
      </div>
    </div>
    <script src="js/blog_index.js"></script>
</body>
</html>
