<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>博客详情</title>
  <link rel="stylesheet" href="css/gallery.css">
  <link rel="stylesheet" href="https://unpkg.com/mditor@1.0.5/dist/css/mditor.min.css" />
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
  <script src="https://unpkg.com/mditor@1.0.5/dist/js/mditor.min.js"></script>
  <script src="https://cdn.bootcss.com/showdown/1.3.0/showdown.min.js"></script>
  <!-- <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <header class="gallery-header">
      <div class="header2">
        <ul class="nav1 gallery-nav">
          <li class="active"><a href="/">首页</a></li>
          <li><a href="/bozhu">关于我</a></li>
          <li><a href="/gallery">相册</a></li>
          <li><a href="/message">留言板</a></li>
        </ul>
        <ul class="nav2 gallery-nav">
            <li>
              <a class="code">
                <span>联系方式</span>
                <img src="images/code.jpg" alt="">
              </a>
            </li>
        </ul>
      </div>
  </header>
<!-- 作品锦集-->
 <div class=" gallery" id="3">
  <div class="contain con-gal">
    <p>相册</p>
    <hr style="width: 150px;border:1px dashed #800080;">
    <div class="row">
      <div class="col-xs-6 col-md-3 ">
        <div class="col1 ">
          <a href="images/gallery/gallery1.jpg"><img src="images/gallery/gallery1.jpg" alt=""></a>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 ">
        <div class="col1 ">
          <a href="images/gallery/gallery2.jpg"><img src="images/gallery/gallery2.jpg" alt=""></a>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 ">
        <div class="col1 ">
          <a href="images/gallery/gallery3.jpg"><img src="images/gallery/gallery3.jpg" alt=""></a>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 ">
        <div class="col1 ">
          <a href="images/gallery/gallery4.jpg"><img src="images/gallery/gallery4.jpg" alt=""></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-3 ">
        <div class="col1 ">
          <a href="images/gallery/gallery5.jpg"><img src="images/gallery/gallery5.jpg" alt=""></a>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 ">
        <div class="col1 ">
          <a href="images/gallery/gallery6.jpg"><img src="images/gallery/gallery6.jpg" alt=""></a>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 ">
        <div class="col1 ">
          <a href="images/gallery/gallery7.jpg"><img src="images/gallery/gallery7.jpg" alt=""></a>
        </div>
      </div>
      <div class="col-xs-6 col-md-3 ">
        <div class="col1 ">
          <a href="images/gallery/gallery8.jpg"><img src="images/gallery/gallery8.jpg" alt=""></a>
        </div>
      </div>
    </div>
</div>
</div> 
</body>

</html>