<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>留言板</title>
        <link rel="stylesheet" href="css/blog_message.css">
        <link rel="stylesheet" href="images/font/iconfont.css">
        <link rel="stylesheet" href="https://unpkg.com/mditor@1.0.5/dist/css/mditor.min.css" />
        <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
        <script src="https://unpkg.com/mditor@1.0.5/dist/js/mditor.min.js"></script>
        <script src="https://cdn.bootcss.com/showdown/1.3.0/showdown.min.js"></script>
    </head>
    <body>
    <div class="index">
      <div class="blog-new">
        <div class="blog-new-top">
          <div class="new-head">Blog留言</div>
            <!-- banner -->
                <h2 class="wzh2">您现在的位置是：
                  <a href="/">首页</a>&nbsp;>&nbsp;
                  <a href="">博客留言</a>&nbsp;>&nbsp;
                </h2>
         </div>
        
          <hr>
        <br>
        <div class="blog-messages">

        </div>
      </div>
      <textarea id="id-input-content" type="text" value="" placeholder=""></textarea>
      <br>
      <div id="id-message-submit">发表</div>
  </div>
    </div>
    <script src="js/blog_message.js"></script>
</body>
</html>
