<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>博客详情</title>
  <link rel="stylesheet" href="css/blog_detail.css">
  <link rel="stylesheet" href="https://unpkg.com/mditor@1.0.5/dist/css/mditor.min.css" />
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
  <script src="https://unpkg.com/mditor@1.0.5/dist/js/mditor.min.js"></script>
  <script src="https://cdn.bootcss.com/showdown/1.3.0/showdown.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
    <!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->

</head>
<body>
  <header class="header">
    <div class="header2">
      <ul class="nav nav1">
        <li class="active"><a href="/">首页</a></li>
        <li><a href="/bozhu">关于我</a></li>
        <li><a href="/gallery">相册</a></li>
        <li><a href="/message">留言板</a></li>
      </ul>
      <ul class="nav nav2">
        <li>
          <a class="code">
            <span>联系方式</span>
            <img src="./images/code.jpg" alt="">
          </a>
        </li>
      </ul>
    </div>
  </header>
  <div class="blog-detail">
    <div class="blog-content">

    </div>
    <div class="comments">
      <h1 class="comments-title">评论</h1>
      <div class="blog-comments">
      </div>
    </div>

    <div class="new-comment">
      <textarea id="id-commentContent" type="text" value="" placeholder=""></textarea>
      <br>
      <input type="text" id="new-comment-author" placeholder="请填写作者">
      <br>
      <div id="id-comment-add">添加评论</div>
    </div>
  </div>
  <script src="js/blog_detail.js"></script>
</body>

</html>
