<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>博客详情</title>
  <link rel="stylesheet" href="css/blog_detail.css">
</head>

<body>
  <div>
    <h1>博客详情</h1>
    <div class="blog-content">

    </div>
    <div class="blog-comments">

    </div>
    <div class="new-comment">
      <input type="text" id="new-comment-comtent">
      <input type="text" id="new-comment-author">
      <button id="id-comment-add">添加评论</button>
    </div>
  </div>
  <script src="js/blog_detail.js"></script>
</body>

</html>
